@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

body {
	background: #112244;
	font-family: "Montserrat", sans-serif;
	color: #fffcff;
    margin: 0;
}


.mainContainer {
	width: 100%;
	display: grid;
	justify-items: center;
}

.mainLayout {
	margin: 1.5rem 0rem;
	width: calc(min(70rem, 75vw));
	min-height: calc(100vh - 3rem);
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-gap: 1.5rem;
	justify-items: center;
}

.mainLayoutContent {
	width: 100%;
	display: grid;
	justify-items: center;
	align-content: center;
}

.pageFiller {
	min-height: calc(100vh - 27rem);
}

.navbar {
	height: 4.5rem;
    display: grid;
    grid-template-columns: 7rem 1fr 7rem;
    justify-items: center;
    align-items: center;

	.logElement {
		align-items: center;
		align-content: right;
		width: 10rem;
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 1rem;

		p {
			
		}
	}

	button.logout {
		cursor: pointer;
		font-size: 1rem;
		color: white;
		border: none;
		outline: none;
		padding: 0.75rem 0.5rem;
        border-radius: 0.35rem;
		background-color: #1e3772;

		&:hover {
            text-decoration: none;
            background-color: #0BC9CD;
        }
	}	

    a.login, a.signup {
        color: white;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer { 
	height: 4.5rem;
}

nav {
    width: 30rem;
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;
    align-items: center;
    
    a {
        color: white;
        text-decoration: none;
        padding: 0.75rem 2rem;
        border-radius: 0.35rem;
        
        &.active {
            background-color: #107f83;
        }

        &:hover {
            text-decoration: none;
            background-color: #0BC9CD;
        }
    }
}

.loginContainer {
	padding: 3.25rem 2.75rem !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	.inputContainer {
		width: calc(min(70%, 25rem));
		display: grid;
		grid-template-columns: 6rem 1fr;
		grid-gap: 1rem;
		align-items: center;
		margin: 1rem 0rem;
	
		input {
			height: 2rem;
			font-size: 1.05rem;
			color: white;
			background-color: #112244;
			border-radius: 0.35rem;
			padding: 0.5rem 1rem;
			border: none;
			/* transition: all 0.3s ease 0s; */
		
			&:focus, &:active {
				outline: none;
				background-color: #0BC9CD;
			}
			
		}
	}

	button {
		cursor: pointer;
		color: white;
		font-size: 1.05rem;
		margin-top: 1.5rem;
		margin-bottom: 0.5rem;
		padding: 0.75rem 4rem;
		outline: none;
		border: none;
		border-radius: 0.35rem;
		background-color: #1e3772;

		&:hover {
			background-color: #0BC9CD;
		}
	}

	.errorMessage {
		color: red;
		height: 1rem;
	}
}



.tile {
	width: 90%;
	padding: 1.25rem 2.75rem;
	background: #1e3772;
	border-radius: 0.85rem;
	text-align: justify;

	p {
		letter-spacing: 0.05rem;
		line-height: 1.65rem;
		font-weight: 300;
		span {
			color: orange;
			font-weight: 500;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.top-bar {
		display: grid;
		grid-template-columns: 1fr auto;
		align-content: center;

		.stars-container {
			display: grid;
			grid-template-columns: repeat(5, 1fr) auto;
			grid-gap: 0.5rem;
			align-items: center;
			font-size: 1rem;

			p {
				span {
					color: white;
				}
			}

			.problem-star-filled {
				font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
			}
		}
	}

	h3 {
		font-size: 1.35rem;
		font-weight: 500;

		span {
			font-weight: 300;
			font-size: 1rem;
		}
	}

	h4 {
		font-size: 1.15rem;
		font-weight: 500;
	}
}